@import '../../../../variables/colors';

.data {
  margin-top: 70px;
}

.dataw {
  margin-top: 100px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow-y: auto;
}

.warning{
  color: #856404;
  background-color: #fff3cd;
  padding: 20px;
  margin: 25px;
  border-radius: 10px;
  border-color: #ffeeba;
}

.close{
  margin: 10px;
}

.btn{
  background-color: $primary;
  margin: 7%;
  width: 86%;
}

mat-form-field{
  margin: 5px;
}

mat-sidenav{
  width: 700px;
  padding-top: 70px;
}

mat-expansion-panel{
  margin:10px;
}

.invoice{
  height: 86vh;
}

mat-chip {
  max-width: 300px;
}
.grid-container{
  display: flex;
  background-color: $secondary-light;
}

.account{
  display: flex;
  font-size: large;
}

.profile{
  background-color: $secondary;
}

.content{
  background-color: $secondary-light;
  height: 100vh;
  width: 100%;
}

.toolbar{
  color:$text;
  background-color: $secondary-light;
  border-bottom: 1px solid $secondary-dark;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 83%;
}

.sidenav{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width:200px;
  width: 17%;
  height: 100vh;
  background: $secondary;
}

.btn{
  color: $text;
  font-size: 16px;
}
mat-icon{
  color: $text;
}
.head{
  &__text{
    color:$primary-dark !important;
    font-weight: bolder !important;
    font-size: 25px !important;
    letter-spacing: 10px;
    text-align: center;
  }
}
.link{
  cursor: pointer;
}
.link:hover{
  color: $primary-dark !important;
  background-color: $secondary-dark;
}