<mat-sidenav-container class="grid-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-list>
        <mat-list-item class="head" (click)="toHome()">
          <a mat-line class="head__text" (click)="toHome()">INFACT </a>
        </mat-list-item>
        <mat-list-item class="link" (click)="toHome()">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <a mat-line class="btn" (click)="toHome()">Home </a>
        </mat-list-item>
        <mat-list-item class="link" (click)="toStatistics()">
          <mat-icon mat-list-icon>apps</mat-icon>
          <a mat-line class="btn"> Statistics </a>
        </mat-list-item>
        <mat-list-item class="link">
          <mat-icon  mat-list-icon *ngIf="auth.isLoggedIn">lock_open</mat-icon>
          <mat-icon  mat-list-icon *ngIf="!auth.isLoggedIn">lock</mat-icon>
          <a mat-line class="btn" (click)="auth.login()"  *ngIf="!auth.isLoggedIn"> Login </a>
          <a mat-line class="btn" (click)="auth.logout()" *ngIf="auth.isLoggedIn"> logout </a>        
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="content" fullscreen>
      <mat-toolbar class="toolbar">
        <span *ngIf="auth.userProfile">
          <button mat-icon-button [matMenuTriggerFor]="menu" class="profile" aria-label="Example icon-button with a menu">
            <mat-icon>account_box</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
          <button mat-menu-item disabled>
            <mat-icon>account_circle</mat-icon>
            <span>{{auth.userProfile.nickname}}</span>
          </button>
          <button mat-menu-item>
            <mat-icon>settings_system_daydream</mat-icon>
            <span>Settings</span>
          </button>
        </mat-menu></span>
      </mat-toolbar>
      <div class="dashboard">
<mat-grid-list cols="8" rowHeight="20vh" class="wrapper"> 
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card total">
            <mat-card-title><mat-icon>cloud</mat-icon></mat-card-title>
            <mat-card-content>
                <span><b>{{ model.count}}</b> invoices in total</span>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card total">
            <mat-card-title><mat-icon>money</mat-icon></mat-card-title>
            <mat-card-content>
                <span><b>{{ model.totalPrice }}€ </b> overal total cost</span>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card total">
            <mat-card-title><mat-icon>money</mat-icon></mat-card-title>
            <mat-card-content>
                <span><b>{{ model.currentMonth.totalPrice }}€ </b> total cost this month</span>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="8" [rowspan]="3">
        <mat-card class="dashboard-card overview">
            <mat-card-title>Cash flow overview</mat-card-title>
            <mat-card-content class="content">
                <div mat-card class="content__card">
                    <h3 class="currentdesc"> {{ model.currentMonth.totalPrice }}€ <span class="current">Total costs this month</span></h3>
                    <div *ngIf="procent2 > 0"><span class="red"><mat-icon>trending_up</mat-icon>{{procent2}}% more costs </span>in comparison to last month</div>
                    <div *ngIf="procent2 <= 0"><span class="green"><mat-icon>trending_down</mat-icon>{{procent2}}% less costs</span> in comparison to last month</div>
                    <button mat-button class="btn">view details</button>
                </div>
                <div mat-card class="content__card">
                    <ngx-charts-line-chart
                    [view]="view"
                    [scheme]="colorScheme"
                    [legend]="legend2"
                    [showXAxisLabel]="showXAxisLabel2"
                    [showYAxisLabel]="showYAxisLabel2"
                    [xAxis]="xAxis2"
                    [yAxis]="yAxis2"
                    [xAxisLabel]="xAxisLabel2"
                    [yAxisLabel]="yAxisLabel2"
                    [timeline]="timeline2"
                    [results]="graph2">
                </ngx-charts-line-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="8" [rowspan]="3">
        <mat-card class="dashboard-card overview">
            <mat-card-title>Invoices overview</mat-card-title>
            <mat-card-content class="content">
                <div mat-card class="content__card">
                    <h3 class="currentdesc"> {{ model.currentMonth.total }} <span class="current"> Invoices this month</span></h3>
                    <div *ngIf="procent > 0"><span class="red"><mat-icon>trending_up</mat-icon>{{procent}}% more invoices </span>in comparison to last month</div>
                    <div *ngIf="procent <= 0"><span class="green"><mat-icon>trending_down</mat-icon>{{procent}}% less invoices</span> in comparison to last month</div>
                    <button mat-button class="btn">view details</button>
                </div>
                <div mat-card class="content__card">
                    <ngx-charts-line-chart
                    [view]="view"
                    [scheme]="colorScheme"
                    [legend]="legend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="xAxis"
                    [yAxis]="yAxis"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [timeline]="timeline"
                    [results]="graph">
                </ngx-charts-line-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</div>
</mat-sidenav-content>
</mat-sidenav-container>