@import '../../../variables/colors';

.landing{
    height:70vh;
    background-color: $secondary-light;
    color: $text;
    padding: 100px 13% 20px 13%;
    text-align: center;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .header{
    max-height:10vh;
    background-color: $secondary;
    color: $text;
    padding: 20px 13% 20px 13%;
}

.action{
  background-color: $primary;
  width: 80%;
  margin: 2% 10% 2% 10% !important;
}